.contenedor{
    background-color: rgba(255, 255, 255, 0.37);
    border:rgba(155, 155, 155, 0.294) solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 175px;
    position: relative;  
    margin-top: 100px; 
    margin-left: 100px;
}

.contenedor:hover{
    box-shadow: 0 4px 16px rgba(155, 155, 155, 0.294);
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.5);
    transition: all 0.4s ease;
}

.btn{
 background: rgba(255, 0, 0, 0.568) !important;
 border: none;
 color: white;
 border-radius: 5px;
 height: min-content;
 width: min-content;
 position: absolute;
 right: 5px;
 top: 5px;
}

.btn:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(255, 0, 0, 0.568);
    transition: all 0.2s ease;
  }

   
.btn:focus {
    outline: none;
  }

.infoCont{ 
    padding-top: 10px;
    position: relative;
    left: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
}

.infoCont img{
    position: relative;
    top: -20px;
    right: 20px;
}

.titleStyle{ 
    padding-top: 30px;
    color: #000000;
}
